@import "../../generalStyles.scss";

.user-detail-container {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  .user-detail-title {
    margin-bottom: 1rem;
    h2 {
      color: $color-blue;
    }
  }
  .user-detail-card {
    background: $color-gray + 10;
    padding: 2.5rem;
    color: $color-blue;
    &__item {
      display: flex;
      flex-direction: row;
      &__title {
        margin-right: 1rem;
        font-weight: bold;
      }
    }
  }
}
