@import "../../generalStyles.scss";
.userContainer {
  padding: 2rem;
  h1 {
    margin-bottom: 1.5rem;
    color: $color-blue;
  }
  .users-main {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
  }
}
